snippet html "html"
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="${1: ./CSS}">
    <title>${2: title}</title>
  </head>
  <body>
    <h1>${3: Web Page Title}</h1>
    <script src="${4: ./JS}"></script>
  </body>
</html>
endsnippet
